{% extends 'base.jinja' %}  
{% block content %}
    <h1>{{ title }}</h1>

    <form action ="/events" method="post">
        <label for="event">Event</label>
        <input type="text" name="event" id="event" placeholder="add an event"/>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <label for="guests">Guests</label>
        <input type="text" name="guests" id="guests" placeholder="enter number of guests">
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
        <label for="description">Description</label>
        <textarea name="description" id="descrpition" rows="2" cols="30" placeholder="enter event description here"></textarea>
        <input type="submit" value="Add Event"/>
    </form>

    <ul>
    {% for events in event_list %}
        <li>{{ events.name }}: {{ events.date }}, {{ events.number_of_guests }}, {{ events.location }}, {{ events.description }}</li>
    {% endfor %}
    </ul>
{% endblock content %}